@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-sarabun), system-ui, sans-serif;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
